@model IEnumerable<StudyWeb.Models.Comment>

@{
    ViewBag.Title = "ListComments";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<div id="project" class="project">
    <div class="container">
        <div class="card" style="background: rgba(0,0,0,0.5);">
            <div class="card-header" style="background: rgba(0,0,0,0.5); ">
                <div class="row">
                    <h1 style="color: white; margin-left: 30px">Bình luận</h1>
                </div>
            </div>
        </div>
    </div>

    <br /><br />
    <div class="container">

        @if (Model.Count() == 0)
        {
            <div class="card" style="background: rgba(0,0,0,0.5); min-height: 200px;">
                <div class="card-header" style="background: rgba(0,0,0,0.5); ">
                    <h2 style="color: white; margin-top: 13px">Hiện chưa có bình luận nào.</h2>
                </div>

                <div class="card-body" style="min-height: 60px; border: solid 1px; border-color: white; background: rgba(0,0,0,0.5);">
                    <a href="@Url.Action("CommentPosts","Comments", new {id = @TempData["idPosts"]})">
                        <div class="row" style="min-height: 40px; ">
                            <div style="margin-top: 10px ">
                                @if (@Session["imageUser"] == null)
                                {
                                    <img style="width: 54px; height: 54px; margin-right: 10px; margin-left: 45px; padding: 8px; border: solid 1px; border-color: blue; background-color: white; border-radius: 30px; " src="~/ImagesUser/user2.png" alt="User" />
                                }
                                else
                                {
                                    <img style="width: 54px; height: 54px; margin-right: 10px; margin-left: 45px; padding: 8px; border: solid 1px; border-color: blue; background-color: white; border-radius: 30px; " src="/ImagesUser/@Session["imageUser"]" alt="User" />
                                }
                            </div>
                            <textarea id="contentComment" name="contentComment" placeholder="Bình luận..." rows="1" style="width: 86%; margin-top: 10px; border-radius: 20px; font-size: 20px; padding-top: 5px; padding-left: 15px; padding-right: 15px"></textarea>
                        </div>
                    </a>
                </div>
            </div>
        }
        else
        {
            foreach (var item in Model)
            {

                <div class="card" style="background: rgba(0,0,0,0.5); min-height: 200px;">
                    <div class="card-header" style="background: rgba(0,0,0,0.5); ">
                        <div class="row">
                            <div class="col-md-1">
                                <img style="margin-left: 30px; margin-right: 15px" height="64" width="64" src="/ImagesUser/@item.Posts.Account.imageUser" alt="User" />
                            </div>
                            <div class="col-md-8">
                                <h1 style="color: white; margin-left: 20px; margin-top: 10px">@item.Posts.Account.fullname</h1>
                            </div>
                            <div class="col-md-3">
                                <h2 style="color: white; margin-top: 13px">@item.Posts.datePost</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="css_card-body">
                            <div class="row" style="border-bottom: solid 2px; border-color: black;">
                                <h1 style="color: white; margin-left: 30px">@item.Posts.contentPosts</h1>
                            </div>
                            <br />
                            @if (item.Posts.imagePosts1 == null && item.Posts.imagePosts2 == null && item.Posts.imagePosts3 == null && item.Posts.imagePosts4 == null)
                            {

                            }
                            else if (item.Posts.imagePosts2 == null && item.Posts.imagePosts3 == null && item.Posts.imagePosts4 == null)
                            {
                                <div style="min-height: 0px;">
                                    <div style="text-align: center">
                                        <img src="/ImagesPosts/@item.Posts.imagePosts1" />
                                    </div>
                                </div>
                            }
                            else if (item.Posts.imagePosts3 == null && item.Posts.imagePosts4 == null)
                            {
                                <div class="col-md-6" style="text-align: center">
                                    <img src="/ImagesPosts/@item.Posts.imagePosts1" />
                                </div>
                                <div class="col-md-6" style="text-align: center">
                                    <img src="/ImagesPosts/@item.Posts.imagePosts2" />
                                </div>
                            }
                            else if (item.Posts.imagePosts4 == null)
                            {
                                <div class="row" style="min-height: 0px;">
                                    <div class="col-md-6" style="text-align: center">
                                        <img src="/ImagesPosts/@item.Posts.imagePosts1" />
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <img src="/ImagesPosts/@item.Posts.imagePosts2" />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div style="min-height: 0px;">
                                    <div style="text-align: center">
                                        <div style="text-align: center">
                                            <img src="/ImagesPosts/@item.Posts.imagePosts3" />
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row " style="min-height: 0px;">
                                    <div class="col-md-6 thumbnail" style="text-align: center">
                                        <img src="/ImagesPosts/@item.Posts.imagePosts1" />
                                    </div>
                                    <div class="col-md-6 thumbnail" style="text-align: center">
                                        <img src="/ImagesPosts/@item.Posts.imagePosts2" />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row" style="min-height: 0px;">
                                    <div class="col-md-6 thumbnail" style="text-align: center">
                                        <img src="/ImagesPosts/@item.Posts.imagePosts3" />
                                    </div>
                                    <div class="col-md-6 thumbnail" style="text-align: center">
                                        <img src="/ImagesPosts/@item.Posts.imagePosts4" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer" style=" background: rgba(0,0,0,0.5); margin-top: 30px; text-align: right;">
                        <a href="">
                            <img style="text-align: right" height="24" width="24" src="/Content/images/like.ico" />&nbsp;Thích&nbsp;@item.Posts.countLike
                        </a>
                        <a href="">
                            <img style="text-align: right" height="24" width="24" src="/Content/images/comments.png" />&nbsp;Bình luận&nbsp;@item.Posts.countComment
                        </a>

                    </div>
                    <div class="card-body" style="min-height: 120px">
                        <a href="@Url.Action("CommentPosts","Comments", new {id = item.idPosts})">
                            <div class="row" style="height: 30px; ">
                                <div style="margin-top: 10px ">
                                    @if (@Session["imageUser"] != null)
                                    {
                                        <img style="width: 54px; height: 54px; margin-right: 10px; margin-left: 45px; padding: 8px; border: solid 1px; border-color: blue; background-color: white; border-radius: 30px; " src="/ImagesUser/@Session["imageUser"]" alt="User" />

                                    }
                                    else
                                    {
                                        <img style="width: 54px; height: 54px; margin-right: 10px; margin-left: 45px; padding: 8px; border: solid 1px; border-color: blue; background-color: white; border-radius: 30px; " src="~/ImagesUser/user.png" alt="User" />
                                    }
                                </div>
                                <textarea id="contentComment" name="contentComment" placeholder="Bình luận..." rows="1" style="width: 86%; margin-top: 10px; border-radius: 20px; font-size: 20px; padding-top: 5px; padding-left: 15px; padding-right: 15px"></textarea>
                            </div>
                        </a>
                    </div>
                </div>
                break;
            }
            <br />
            <div class="card" style="background: rgba(0,0,0,0.5);">
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <div class="card-header" style="border: solid 1px; border-color: white; border-radius: 12px; background: rgba(0,0,0,0.5);">
                            <div class="row" style="margin: 10px">
                                <div class="col-md-10">
                                    @if (item.Account.imageUser == null)
                                    {
                                        <div>
                                            <a href="#">
                                                <img style="width: 54px; height: 54px; margin-left: 10px; padding: 8px; border: solid 1px; border-color: blue; background-color: white; border-radius: 30px; " src="/ImagesUser/user.png" alt="User" />
                                                <h1 style="color: white; margin-left: 10px; margin-top: 10px">@item.Account.fullname</h1>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <a class="row" href="#">
                                            <img style="width: 54px; height: 54px; margin-left: 10px; padding: 8px; border: solid 1px; border-color: blue; background-color: white; border-radius: 30px; " src="/ImagesUser/@item.Account.imageUser" alt="User" />
                                            <h1 style="color: white; margin-left: 10px;margin-top: 10px">@item.Account.fullname</h1>
                                        </a>
                                    }
                                </div>
                                <div class="col-md-2" style="text-align: right">
                                    @if (item.idUser == (int)Session["idUser"])
                                    {
                                        <a href="@Url.Action("UserEditComment","Comments", new { id = item.id })">
                                            <img height="32" width="32" src="~/Content/images/edit.png" />
                                        </a>      
                                    }
                                </div>
                                      
                            </div>
                            <div class="row" style="margin:10px">
                                <div class="col-md-11 ">
                                    <h2 style="background-color: white; color: black;margin-left: 40px; padding:10px; padding-left: 15px; padding-right: 15px; border-radius: 15px; height:90%">
                                        @item.contentComment
                                    </h2>

                                </div>
                                <div class="col-md-1" style="text-align: left">
                                    <div class="row" style="padding-top: 7px">
                                        <img style="text-align: right" height="24" width="24" src="/Content/images/like.ico" />&nbsp;
                                        <img style="text-align: right" height="24" width="24" src="/Content/images/comments.png" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="css_card-body">
                                @if (item.imageComment1 == null && item.imageComment2 == null && item.imageComment3 == null && item.imageComment4 == null)
                                {

                                }
                                else if (item.imageComment1 != null && item.imageComment2 == null && item.imageComment3 == null && item.imageComment4 == null)
                                {
                                    <div style="min-height: 0px;">
                                        <div style="text-align: center">
                                            <img src="/ImagesPosts/@item.imageComment1" />
                                        </div>
                                    </div>
                                }
                                else if (item.imageComment1 != null && item.imageComment2 != null && item.imageComment3 == null && item.imageComment4 == null)
                                {
                                    <div class="col-md-6" style="text-align: center">
                                        <img src="/ImagesPosts/@item.imageComment1" />
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <img src="/ImagesPosts/@item.imageComment2" />
                                    </div>
                                }
                                else if (item.imageComment1 != null && item.imageComment2 != null && item.imageComment3 != null && item.imageComment4 == null)
                                {
                                    <div class="row" style="min-height: 0px;">
                                        <div class="col-md-6" style="text-align: center">
                                            <img src="/ImagesPosts/@item.imageComment1" />
                                        </div>
                                        <div class="col-md-6" style="text-align: center">
                                            <img src="/ImagesPosts/@item.imageComment2" />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div style="min-height: 0px;">
                                        <div style="text-align: center">
                                            <div style="text-align: center">
                                                <img src="/ImagesPosts/@item.imageComment3" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (item.imageComment1 != null && item.imageComment2 != null && item.imageComment3 != null && item.imageComment4 != null)
                                {
                                    <div class="row " style="min-height: 0px;">
                                        <div class="col-md-6 thumbnail" style="text-align: center">
                                            <img src="/ImagesPosts/@item.imageComment1" />
                                        </div>
                                        <div class="col-md-6 thumbnail" style="text-align: center">
                                            <img src="/ImagesPosts/@item.imageComment2" />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row" style="min-height: 0px;">
                                        <div class="col-md-6 thumbnail" style="text-align: center">
                                            <img src="/ImagesPosts/@item.imageComment3" />
                                        </div>
                                        <div class="col-md-6 thumbnail" style="text-align: center">
                                            <img src="/ImagesPosts/@item.imageComment4" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <br />
                    }
                </div>
            </div>
        }

    </div>
</div>







<style>
    
    .project {
        background-image: url('../../Content/images/nen_test.jpg');
        min-height: 70vh;
    }

    .btn_a {
        color: white;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(0,0,0,0.5);
        border-radius: 8px;
        margin-right: 20px
    }

        .btn_a:hover {
            background: white;
            color: dodgerblue;
        }

    .css_card-body {
        color: white;
    }

    .card-footer {
        height: 50px;
    }

        .card-footer a {
            color: white;
            margin: 10px;
        }

        .card-footer input {
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 30px;
            margin-right: 30px;
        }

        .card-footer img:hover {
            height: 32px;
            width: 32px;
        }

    add_posts:hover {
        background-color: forestgreen;
        color: white;
    }

    img {
        max-height: 440px;
        max-width: 540px;
    }
</style>